[Unit]
Description=InkyPi App
After=network-online.target graphical.target
Wants=network-online.target graphical.target

[Service]
User=tmn
Environment=DISPLAY=:0.0
RuntimeDirectory=inkypi
WorkingDirectory=/run/inkypi
ExecStart=/usr/local/bin/inkypi run
Restart=on-failure
RestartSec=60
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=40%
MemoryMax=200M

[Install]
WantedBy=multi-user.target graphical.target