[Unit]
Description=InkyPi App
After=network-online.target graphical.target
Wants=network-online.target

[Service]
User=root
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=SDL_VIDEO_DISPLAY=0
# These two lines often fix the "not initialized" error in services
StandardInput=tty
TTYPath=/dev/tty1
RuntimeDirectory=inkypi
WorkingDirectory=/run/inkypi
ExecStart=/usr/local/bin/inkypi run
Restart=on-failure
RestartSec=60
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=40%
MemoryMax=200M

[Install]
WantedBy=multi-user.target
